.contactCard {
    font-family: "Jost", sans-serif;
}

.contactCard .title {
    text-transform: uppercase;
    text-shadow: 0 0 20px #000000;
    font-size: 2rem;
}

.contactCard-body {
    padding: 0.5rem;
}

.contactCard-body p {
    font-family: "Jost", sans-serif;
    font-size: 1.5rem;
}

.contactCard-body a {
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    display: block;
    text-decoration: none;
    padding: 1rem;
    width: max-content;
    transition: all 0.4s ease-in-out;
}

.contactCard-body a:hover {
    color: rgba(50, 82, 110, 0.84)
}