header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(72, 72, 213);
    margin: 0;
}

header h1 {
    font-family: 'Agdasima', sans-serif;
    letter-spacing: 0.10rem;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header ul li {
    margin: 0 1rem;
}

header ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        /* align-items: flex-start; */
    }

    header ul {
        flex-direction: column;
        border: 2px solid green;
        /* align-items: flex-start; */
        justify-content: center;
    }

    header ul li {
        margin: 0.5rem 0;
    }
}