.member-card {
    font-size: 1rem;
    font-family: "Exo 2", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #4b4b4b;
    color: #3156a1;
    border-radius: 0.9rem;
    overflow: hidden;
    width: 22vw;
    height: 35vw;
    min-height: max-content;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
}

.member-card img {
    border-radius: 50%;
    height: 15vh;
    display: block;
    margin: 2rem auto;
    box-shadow: 0 0 5px #000;
}

.member-card i {
    font-size: 2rem;
    margin: 0.5rem;
    color: #000;
    transition: all 0.1s ease-in-out;
}

.member-card i:hover {
    color: #3156a1;
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .member-card {
        max-width: none;
        width: 90%;
        margin: 0 auto;
        height: unset;
    }

    .member-card img {
        height: 15vh;
        margin-top: 0.75rem;
    }
}

@media screen and (min-width: 1920px) {
    .member-card {
        width: 16vw;
        height: 25vw;
    }
}