body {
    overflow-x: hidden;
    overflow-y: scroll;
}

main.programs-body {
    margin: 0;
    width: 100vw;
    height: max-content;
    box-sizing: border-box;
    padding: 1rem 12rem;
    position: relative;
}

main.programs-body::before {
    background: linear-gradient(rgba(20, 46, 174, 0.657), rgba(25, 56, 119, 0.498)), url("/space.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100vw;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: -1;
}

main.programs-body h2 {
    font-size: 4rem;
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.card-deck .card {
    margin-bottom: 1rem;
}

@media(max-width: 768px) {
    main.programs-body h2 {
        font-size: 3rem;
    }

    main.programs-body {
        padding: 1rem;
    }
}